@page
@model CPRG005.Final.Roland.Pages.BoatModel
@{
    <h1>LIST OF BOATS</h1>
    <p>
        A register boat page where authenticated users can register one or more boats
        as well as update their boat information
    </p>
}
