@page
@model CPRG005.Final.Roland.Pages.ContactModel
@{
}
<ul class="contactList">
    <li>Inland Lake Marina</li>
    <li>Box 123</li>
    <li>Inland Lake, Arizona</li>
    <li>86038</li>
    </br>
    <li>(office ph) 928-450-2234</li>
    <li>(leasing ph) 928-450-2235</li>
    <li>(fax) 928-450-2236</li>
    </br>
    <li>Slip Manager: Kimberley Carson</li>
    <li>Contact email: info@inlandmarina.com</li>
</ul>