@page
@model CPRG005.Final.Roland.Pages.LeaseModel
@using CPRG005.Final.Roland.Models
@{
}

<a class="btn btn-primary btn-lg" asp-page="/CreateLease">New Lease</a>
<br />

@if (Model.Leases.Count < 1)
{
    <h6>No leases to display.</h6>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Slip#</th>
                <th scope="col">Lease Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Lease lease in Model.Leases)
            {
                <tr>
                    <td>@lease.StartDate</td>
                    <td>@lease.EndDate</td>
                    <td>@lease.SlipId</td>
                    <td>@lease.LeaseType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
