@page
@model CPRG005.Final.Roland.Pages.LoginModel
@{
}
<form method="post">
    <div class="form-group">
        <input class="form-control" id="loginUserName" placeholder="Username" asp-for="UserName">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="loginPassword" placeholder="Password" asp-for="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>