@page
@model CPRG005.Final.Roland.Pages.SignupModel
@{
}
<form method="post">
    <div class="form-group">
        <input class="form-control" id="exampleInputEmail1" placeholder="Username" asp-for="UserName" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password" asp-for="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Confirm Password" asp-for="PasswordConfirm">
    </div>
    <div class="form-group">
        <input class="form-control" id="exampleInputEmail1" placeholder="First Name" asp-for="FirstName">
    </div>
    <div class="form-group">
        <input class="form-control" id="exampleInputEmail1" placeholder="Last Name" asp-for="LastName">
    </div>
    <div class="form-group">
        <input class="form-control" id="exampleInputEmail1" placeholder="Phone" asp-for="Phone">
    </div>
    <div class="form-group">
        <input class="form-control" id="exampleInputPassword1" placeholder="City" asp-for="City">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
