@page
@model CPRG005.Final.Roland.Pages.SlipModel
@using CPRG005.Final.Roland.Models
@{
    <div class="filters">
        <select class="filterOptions" id="locationOptionsSelectList">
            @foreach (Location location in Model.Locations)
            {
                <option value="@location.Id">@location.Name</option>
            }
        </select>

        <select class="filterOptions" id="dockOptionsSelectList">
            @foreach (Dock dock in Model.Docks)
            {
                <option value="@dock.Id">@dock.Name</option>
            }
        </select>
    </div>

    <div id="results"></div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    loadSlips(0, 0);
    $(document).ready(function () {
        $('#locationOptionsSelectList').change(function () {
            filterByParameters();
        });

        $('#dockOptionsSelectList').change(function () {
            filterByParameters();
        });
    });

    function filterByParameters() {
        var locationId = $('#locationOptionsSelectList').val();
        var dockId = $('#dockOptionsSelectList').val();
        loadSlips(locationId, dockId);
    }

    function loadSlips(locationId, dockId) {
        $.ajax({
            url: "/FilterBySlip/GetSlipsForParameters",
            type: "GET",
            data: { locationId: locationId, dockId: dockId }
        }).done(function (data) {
            $('#results').html(data)
        });
    }
</script>
