@page
@model CPRG005.Final.Roland.Pages.SlipModel
@{
    <h1>List OF SLIPS</h1>
    <p>
        A page that shows available slip by location and dock. This is a browsing page
        available to the general public
    </p>
}
